#root {
    -fx-font-family: Roboto;
    -fx-background-color: #343a40;
}

.label {
    -fx-font-size: 50px;
    -fx-font-family: Roboto;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgb(30, 91, 159), 2, 1, 1, 1);
}

.button {
    -fx-text-align: center;
    -fx-padding: 10px;
    -fx-font-size: 40px;
    -fx-text-fill: #1da1f2;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: #1da1f2;
    -fx-border-width: 2px;
    -fx-border-radius: 40%;
}

.button:hover {
    -fx-border-color: #fff;
}